.discount-form__bg
    .wrapper
        section.discount-form
            .circle.discount-form__circle
                .circle-up.discount-form__circle-up 2 545 р.
                .circle-middle.discount-form__circle-middle
                .circle-down.discount-form__circle-down 1 850 р.
            form(action="#" method="POST")
                .discount-form__form
                    .discount-form__h3 Оставьте заявку сейчас #[br] и получите
                    .discount-form__p бесплатную доставку!
                    input.input.discount-form__input(
                        type="tel" 
                        placeholder="Ваш телефон" 
                        name="phone"
                        pattern="([+])([0-9]+)"
                    )
                    input.submit.discount-form__submit(
                        type="submit" 
                        value="ПЕРЕЗВОНИТЕ МНЕ"
                    )
            .discount-form__arrow