.map__bg
    .wrapper
        section.map
            iframe(
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2279.1070534661544!2d61.291384495973006!3d55.16390315700993!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43c59252d501470f%3A0x6fc5c036d8cac25e!2z0YPQuy4g0JDQutCw0LTQtdC80LjQutCwINCa0L7RgNC-0LvRkdCy0LAsIDM4LCDQp9C10LvRj9Cx0LjQvdGB0LosINCn0LXQu9GP0LHQuNC90YHQutCw0Y8g0L7QsdC7LiwgNDU0MDA0!5e0!3m2!1sru!2sru!4v1596811123686!5m2!1sru!2sru"
                width="460" 
                height="320" 
                frameborder="0" 
                style="border: none; border-radius: 20px;" 
                allowfullscreen=""
                aria-hidden="false" tabindex="0"
            )
            .map__form
                .map__icon
                .map__p Забрать кресло можно по адресу:
                .map__h3 Челябинск,#[br]ул. Академика Королева, 38
                .map__p или используйте
                button.submit.map__submit Бесплатная доставка