.header-img
    .wrapper
        section.header
            h1.header__h1 Сертифицированные детские #[br] бескаркасные автокресла
            p.header__p с бесплатной доставкой по Челябинску
            form(action='' method='POST')
                .header__card.card
                    .card__text
                        .card__title Нет времени читать?
                        p.card__p Оставляйте номер, мы вам перезвоним!
                        input(
                                    type="tel"
                                    class="input card__input" 
                                    placeholder="Ваш телефон" 
                                    name="phone"
                                    pattern="([+])([0-9]+)"
                        )
                        input(
                                    type="submit"
                                    class="submit card__submit" 
                                    value="ПЕРЕЗВОНИТЕ МНЕ" 
                                    disabled                                    
                        )